@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../assets/font/stylesheet.css';

@layer base {
    html,
    body {
        font-family: theme('fontFamily.mainFont');
        background: theme('backgroundColor.gray.900');
        color: theme('colors.gray.100');
    }
}

.slick-list {
    height: 57px;
    margin: 10px 0;
}
.slider-text {
    font-family: 'Fredoka One';
    color: #fff;
    background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quote1Heart {
    stroke-dashoffset: 0;
    stroke-dasharray: 1000;
    fill: none;
    stroke: #c32285;
    stroke-width: 15;
}

.quoteTextBG {
    fill: theme('backgroundColor.gray.900');
}

.quoteText {
    padding: 0.5em;
    font-family: theme('fontFamily.secondaryFont');
    font-size: 50px;
    color: #fff;
    fill: #fff;
    font-weight: bold;
}
/* ==> add new utilities  <== */

/* @layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x {
    scroll-snap-type: x;
  }
  .scroll-snap-y {
    scroll-snap-type: y;
  }
} */
/* ==> make new class <== */
/* .btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 hover:bg-blue-700 text-white;
} */
