@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../assets/font/stylesheet.css';

@layer base {
    html,
    body {
        font-family: theme('fontFamily.mainFont');
        background: theme('backgroundColor.gray.900');
        color: theme('colors.gray.100');
    }
}

.image-container::before,
.image-container::after {
    content: '';
    position: absolute;
    transform: skewY(-10deg);
    width: 100px;
    height: 100px;
    border: 10px solid theme('backgroundColor.purple.500');
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.image-container::before {
    top: 0px;
    left: -20px;
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;
    border-top-left-radius: 35px;
}
.image-container::after {
    bottom: 0px;
    right: -20px;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-bottom-right-radius: 35px;
}

.image-wrapper {
    border-radius: 20px;
    overflow: hidden;
    transform: skewY(-10deg);
    box-shadow: 0px 0px 10px 4px #0000003d;
}
.image {
    transform: skewY(10deg);
    top: -30px;
}
.image::before {
    background-position: -20px 7px;
}

.slick-list {
    height: 57px;
    margin: 10px 0;
}
.slider-text {
    font-family: 'Fredoka One';
    color: #fff;
    background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quote1Heart {
    stroke-dashoffset: 0;
    stroke-dasharray: 1000;
    fill: none;
    stroke: #c32285;
    stroke-width: 15;
}

.quoteTextBG {
    fill: theme('backgroundColor.gray.900');
}

.quoteText {
    padding: 0.5em;
    font-family: theme('fontFamily.secondaryFont');
    font-size: 50px;
    color: #fff;
    fill: #fff;
    font-weight: bold;
}

#quotePositiveTop,
#quotePositiveBottom {
    stroke: #2d9687;
    stroke-width: 15;
    fill: none;
    stroke-miterlimit: 10;
    stroke-dashoffset: 0;
    stroke-dasharray: 1000;
}

.skills-item::before {
    content: '';
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    background: theme('backgroundColor.purple.500');
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    border-radius: 50%;
}
.skills-item::after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    background: theme('backgroundColor.purple.500');
    top: 0;
    bottom: 0;
    left: 8px;
}
/* ==> add new utilities  <== */

/* @layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x {
    scroll-snap-type: x;
  }
  .scroll-snap-y {
    scroll-snap-type: y;
  }
} */
/* ==> make new class <== */
/* .btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 hover:bg-blue-700 text-white;
} */
